<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Simoncharbonnier" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/simoncharbonnier/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Cette application a été réalisée par Simon Charbonnier lors de la certification du Wagon Nantes en Mars 2022.
  </div>
</div>
