.button {
  width: auto;
  height: auto;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  background-color: rgb(72, 114, 9);
  border: 1px solid rgb(72, 114, 9);
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: color 0.5s, background-color 0.5s, border 0.5s;
  border-style: none;
  margin-left: 15px;
  &:hover {
    color: rgb(72, 114, 9);
    background-color: white;
    border: 1px solid rgb(72, 114, 9);
  }
}
.anti-button {
  width: auto;
  height: auto;
  padding: 10px 20px;
  border-radius: 5px;
  color: rgb(72, 114, 9);
  background-color: white;
  border: 1px solid rgb(72, 114, 9);
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: color 0.5s, background-color 0.5s;
  &:hover {
    color: white;
    background-color: rgb(72, 114, 9);
  }
}
