.commentaires {
  display: flex;
  justify-content: space-between;
}

.list {
  width: 55%;

}
.list-element {

}
.origin-com {
  font-size: 13px;
  text-align: end;
}



.form {
  width: 40%;
  background-color: whitesmoke;
  border-radius: 5px;
  height: 285px;
}
.form-title {
  padding: 15px 15px;
}
.form-control {
  width: 93%;
  margin-left: 15px;
  &:focus {
    box-shadow: none;
    border: 1px solid black;
  }
}
textarea.form-control {
  height: 130px;
}
