// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "post-index";
@import "banner";
@import "button";
@import "commentaires";
@import "post";
@import "modal";

body {
  background-color: white;
}
a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
h1 {
  margin-top: 1rem;
}
.nothing {
  height: 15px;
}
.link-devise {
  text-decoration: underline;
  color: rgb(56, 56, 56);
  &:hover {
    color: black;
  }
}
