.post {

}
.under-post {
  display: flex;
  justify-content: space-between;
  .links {
    display: flex;
    text-decoration: underline;
  }
  .pointer {
    cursor: pointer;
  }
  .red {
    margin-left: 1rem;
    color: red;
  }
}
