.post-index {
  overflow: hidden;
  height: 120px;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0px;
  transition: margin 0.3s;
  &:hover {
    margin: 32px 10px;
  }
  h2 {
    height: 100%;
    width: 1000px;
    object-fit: cover;
    padding-bottom: 10px;
    font-size: 23px;
  }
  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    padding-top: 10px;
  }
  .post-index-infos {
    padding: 16px;
  }
}
.vote-link {
  display: flex;
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 20px;
  background-color: whitesmoke;
  color: white;
}
